The goal of this notebook is to reassign segmentation labels based on the objects that they are contained in. 
This will mean that the segmentation label id of the cell will match that of the nucleus that it is contained in.

In [ ]:
import argparse
import pathlib
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import skimage
import tifffile

cwd = pathlib.Path.cwd()

if (cwd / ".git").is_dir():
    root_dir = cwd
else:
    root_dir = None
    for parent in cwd.parents:
        if (parent / ".git").is_dir():
            root_dir = parent
            break
sys.path.append(str(root_dir / "utils"))
from arg_parsing_utils import check_for_missing_args, parse_args
from notebook_init_utils import bandicoot_check, init_notebook

root_dir, in_notebook = init_notebook()

image_base_dir = bandicoot_check(pathlib.Path("~/mnt/bandicoot").resolve(), root_dir)

In [ ]:
if not in_notebook:
    args = parse_args()
    well_fov = args["well_fov"]
    patient = args["patient"]
    check_for_missing_args(
        well_fov=well_fov,
        patient=patient,
    )
else:
    print("Running in a notebook")
    well_fov = "C4-2"
    patient = "NF0014_T1"

mask_dir = pathlib.Path(
    f"{image_base_dir}/data/{patient}/segmentation_masks/{well_fov}"
).resolve()

Running in a notebook

In [3]:
def remove_edge_cases(
    mask: np.ndarray,
    border: int = 10,
) -> np.ndarray:
    """
    Remove masks that are image edge cases
    In this case - the edge literally means the edge of the image
    This is useful to remove masks that are not fully contained within the image

    Parameters
    ----------
    mask : np.ndarray
        The mask to process, should be a 3D numpy array
    border : int, optional
        The number of pixels in width to create border to scan for edge cased, by default 10

    Returns
    -------
    np.ndarray
        The mask with edge cases removed
    """

    edge_pixels = np.concatenate(
        [
            # all of z, last n rows (y), all columns (x) - bottom edge
            mask[:, -border:, :].flatten(),
            # all of z, first n rows (y), all columns (x) - top edge
            mask[:, 0:border, :].flatten(),
            # all of z, all rows (y), first n columns (x) - left edge
            mask[:, :, 0:border:].flatten(),
            # all of z, all rows (y), last n columns (x) - right edge
            mask[:, :, -border:].flatten(),
            # each are the edges stacked for the whole volume -> no need to specify every z slice or 3D edge
        ]
    )
    # get unique edge pixel values
    edge_pixels = np.unique(edge_pixels[edge_pixels > 0])

    for edge_pixel_case in edge_pixels:
        # make the edge cases equal to zero
        mask[mask == edge_pixel_case] = 0

    # return the mask with edge cases removed
    return mask


def centroid_within_bbox_detection(
    centroid: tuple,
    bbox: tuple,
) -> bool:
    """
    Check if the centroid is within the bbox

    Parameters
    ----------
    centroid : tuple
        Centroid of the object in the order of (z, y, x)
        Order of the centroid is important
    bbox : tuple
        Where the bbox is in the order of (z_min, y_min, x_min, z_max, y_max, x_max)
        Order of the bbox is important

    Returns
    -------
    bool
        True if the centroid is within the bbox, False otherwise
    """
    z_min, y_min, x_min, z_max, y_max, x_max = bbox
    z, y, x = centroid
    # check if the centroid is within the bbox
    if (
        z >= z_min
        and z <= z_max
        and y >= y_min
        and y <= y_max
        and x >= x_min
        and x <= x_max
    ):
        return True
    else:
        return False


def check_if_centroid_within_mask(
    centroid: tuple, mask: np.ndarray, label: int
) -> bool:
    """
    Check if the centroid is within the mask

    Parameters
    ----------
    centroid : tuple
        Centroid of the object in the order of (z, y, x)
        Order of the centroid is important
    mask : np.ndarray
        The mask to check against

    Returns
    -------
    bool
        True if the centroid is within the mask, False otherwise
    """
    z, y, x = centroid
    z = np.round(z).astype(int)
    y = np.round(y).astype(int)
    x = np.round(x).astype(int)
    # check if the centroid is within the segmentation mask
    cell_label = mask[z, y, x]
    if cell_label > 0 and cell_label == label:
        return True
    else:
        return False


def mask_label_reassignment(
    mask_df: pd.DataFrame,
    mask_input: np.ndarray,
) -> np.ndarray:
    """
    Reassign the labels of the mask based on the mask_df

    Parameters
    ----------
    mask_df : pd.DataFrame
        DataFrame containing the labels and centroids of the mask
    mask_input : np.ndarray
        The input mask to reassign the labels to

    Returns
    -------
    np.ndarray
        The mask with reassigned labels
    """
    for i, row in mask_df.iterrows():
        if row["label"] == row["new_label"]:
            # if the label is already the new label, skip
            continue
        mask_input[mask_input == row["label"]] = row["new_label"]
    return mask_input

In [4]:
# get the organoid masks
# cell_mask_path = mask_dir / "cell_masks_reconstructed_corrected.tiff"
cell_mask_path = mask_dir / "cell_masks_watershed.tiff"
nuclei_mask_path = mask_dir / "nuclei_masks_reconstructed_corrected.tiff"
nuclei_mask_output_path = mask_dir / "nuclei_masks_reassigned.tiff"

cell_mask = tifffile.imread(cell_mask_path)
nuclei_mask = tifffile.imread(nuclei_mask_path)

In [5]:
# get the centroid and bbox of the cell mask
cell_df = pd.DataFrame.from_dict(
    skimage.measure.regionprops_table(
        cell_mask,
        properties=["centroid", "bbox"],
    )
)
cell_df["compartment"] = "cell"
cell_df["label"] = cell_mask[
    cell_df["centroid-0"].astype(int),
    cell_df["centroid-1"].astype(int),
    cell_df["centroid-2"].astype(int),
]
# remove all 0 labels
cell_df = cell_df[cell_df["label"] > 0].reset_index(drop=True)

In [6]:
nuclei_df = pd.DataFrame.from_dict(
    skimage.measure.regionprops_table(
        nuclei_mask,
        properties=["centroid", "bbox"],
    )
)
nuclei_df["compartment"] = "nuclei"
nuclei_df["label"] = nuclei_mask[
    nuclei_df["centroid-0"].astype(int),
    nuclei_df["centroid-1"].astype(int),
    nuclei_df["centroid-2"].astype(int),
]
nuclei_df = nuclei_df[nuclei_df["label"] > 0].reset_index(drop=True)
nuclei_df["new_label"] = nuclei_df["label"].copy()

In [7]:
nuclei_df.head()

,centroid-0,centroid-1,centroid-2,bbox-0,bbox-1,bbox-2,bbox-3,bbox-4,bbox-5,compartment,label,new_label
0,10.934618,746.900453,473.778268,6,687,421,17,808,528,nuclei,14,14
1,7.888688,224.483033,715.339418,0,165,652,17,283,780,nuclei,24,24
2,4.147455,253.488615,503.486353,0,195,453,10,313,564,nuclei,34,34
3,19.420853,424.839974,693.588457,6,369,639,33,474,757,nuclei,39,39
4,5.122876,694.579159,399.909088,0,649,355,12,745,447,nuclei,46,46

In [8]:
cell_df.head()

,centroid-0,centroid-1,centroid-2,bbox-0,bbox-1,bbox-2,bbox-3,bbox-4,bbox-5,compartment,label
0,13.633082,752.425933,438.263618,0,651,306,33,922,564,cell,15
1,7.325520,227.103750,731.026933,0,86,559,30,463,932,cell,26
2,4.557034,250.617720,509.624702,0,98,384,23,372,726,cell,37
3,13.346629,425.826972,677.062970,0,290,458,33,553,826,cell,43
4,4.551178,713.117774,369.130258,0,538,241,22,902,565,cell,51

In [9]:
print(f"Number of nuclei: {len(nuclei_df)}\nNumber of cells: {len(cell_df)}\n")

Number of nuclei: 33
Number of cells: 35

In [10]:
# if a centroid of the nuclei is inside the cell mask,
# then make the cell retain the label of the nuclei
for i, row in nuclei_df.iterrows():
    for j, row2 in cell_df.iterrows():
        nuc_contained_in_cell_bool = check_if_centroid_within_mask(
            centroid=(
                row["centroid-0"],
                row["centroid-1"],
                row["centroid-2"],
            ),
            mask=cell_mask,
            label=row2["label"],
        )
        if nuc_contained_in_cell_bool:
            # if the centroid of the nuclei is within the cell mask,
            # then make the cell retain the label of the nuclei
            nuclei_df.at[i, "new_label"] = row2["label"]
            break
        else:
            pass

In [11]:
# merge the dataframes
nuclei_and_cell_df = pd.merge(
    nuclei_df,
    cell_df,
    left_on="new_label",
    right_on="label",
    suffixes=("_nuclei", "_cell"),
)
nuclei_and_cell_df.head()

,centroid-0_nuclei,centroid-1_nuclei,centroid-2_nuclei,bbox-0_nuclei,bbox-1_nuclei,bbox-2_nuclei,bbox-3_nuclei,bbox-4_nuclei,bbox-5_nuclei,compartment_nuclei,...,centroid-1_cell,centroid-2_cell,bbox-0_cell,bbox-1_cell,bbox-2_cell,bbox-3_cell,bbox-4_cell,bbox-5_cell,compartment_cell,label_cell
0,10.934618,746.900453,473.778268,6,687,421,17,808,528,nuclei,...,752.425933,438.263618,0,651,306,33,922,564,cell,15
1,7.888688,224.483033,715.339418,0,165,652,17,283,780,nuclei,...,227.103750,731.026933,0,86,559,30,463,932,cell,26
2,7.888688,224.483033,715.339418,0,165,652,17,283,780,nuclei,...,264.741230,742.269783,0,106,643,33,407,864,cell,26
3,4.147455,253.488615,503.486353,0,195,453,10,313,564,nuclei,...,250.617720,509.624702,0,98,384,23,372,726,cell,37
4,19.420853,424.839974,693.588457,6,369,639,33,474,757,nuclei,...,425.826972,677.062970,0,290,458,33,553,826,cell,43

In [12]:
nuclei_and_cell_df[["label_nuclei", "new_label", "label_cell"]].head()
nuclei_df

,centroid-0,centroid-1,centroid-2,bbox-0,bbox-1,bbox-2,bbox-3,bbox-4,bbox-5,compartment,label,new_label
0,10.934618,746.900453,473.778268,6,687,421,17,808,528,nuclei,14,15
1,7.888688,224.483033,715.339418,0,165,652,17,283,780,nuclei,24,26
2,4.147455,253.488615,503.486353,0,195,453,10,313,564,nuclei,34,37
3,19.420853,424.839974,693.588457,6,369,639,33,474,757,nuclei,39,43
4,5.122876,694.579159,399.909088,0,649,355,12,745,447,nuclei,46,51
5,3.525742,363.403686,177.255351,1,339,148,7,390,203,nuclei,52,52
6,5.289858,386.904775,742.615724,1,343,671,11,436,811,nuclei,62,69
7,15.276907,419.788274,913.824343,9,358,860,22,477,964,nuclei,63,70
8,4.353884,557.908909,506.448168,1,488,458,9,630,552,nuclei,71,79
9,3.934509,673.237273,1104.534159,1,605,1074,8,737,1136,nuclei,78,86
10,1.992485,1430.440448,1239.770600,1,1354,1174,4,1508,1305,nuclei,96,106
11,5.588153,803.038075,565.313651,1,749,506,11,862,628,nuclei,102,113
12,7.464884,801.706252,698.576471,2,745,632,14,859,767,nuclei,114,126
13,3.989713,65.726916,843.646583,3,47,819,6,87,868,nuclei,117,130
14,18.191216,747.149551,610.786140,12,701,545,25,795,683,nuclei,130,144
15,6.971873,590.269074,647.084334,3,544,587,13,641,711,nuclei,141,157
16,14.818994,706.725754,950.645059,9,642,906,22,773,995,nuclei,147,163
17,14.412298,752.411861,828.584155,3,681,758,27,826,896,nuclei,149,165
18,17.104873,328.697000,739.800610,14,282,659,21,376,814,nuclei,155,155
19,18.869059,619.979925,451.888081,13,568,378,26,674,524,nuclei,156,173
20,9.494938,502.341952,698.181702,4,467,636,17,540,770,nuclei,167,185
21,20.907202,383.938515,561.987502,15,319,509,27,448,616,nuclei,168,187
22,17.326072,576.883109,906.018564,6,514,835,28,637,980,nuclei,179,199
23,11.098836,278.513729,582.291083,5,208,529,19,351,633,nuclei,188,209
24,10.498692,310.468758,388.093564,3,260,334,18,362,445,nuclei,189,210
25,24.015272,338.808781,696.998959,21,272,646,28,408,748,nuclei,200,222
26,12.469797,345.967785,854.960032,5,288,741,24,411,927,nuclei,203,226
27,25.013074,519.698143,611.661351,19,465,553,31,572,668,nuclei,204,227
28,25.730475,676.949700,703.099235,21,632,652,31,723,750,nuclei,215,239
29,11.470646,430.415056,420.506684,6,375,371,18,492,470,nuclei,218,242
30,22.276872,531.572956,756.803639,12,475,690,32,587,832,nuclei,219,243
31,27.480318,563.022741,1026.521777,23,528,972,32,598,1067,nuclei,228,253
32,17.969208,637.456789,625.240614,6,571,568,31,705,684,nuclei,229,255

In [13]:
print(
    f"Number of nuclei: {len(nuclei_df)}\n"
    f"Number of cells: {len(cell_df)}\n"
    f"Number of cells with nuclei: {len(nuclei_and_cell_df)}"
)

Number of nuclei: 33
Number of cells: 35
Number of cells with nuclei: 34

In [14]:
# remove the edge cases
cell_mask = remove_edge_cases(
    mask=cell_mask,
    border=10,
)
nuclei_mask = remove_edge_cases(
    mask=nuclei_mask,
    border=10,
)

In [15]:
# reassign the labels of the cell mask
nuclei_mask = mask_label_reassignment(
    mask_df=nuclei_df,
    mask_input=nuclei_mask,
)
# save the cell mask
tifffile.imwrite(
    nuclei_mask_output_path,
    nuclei_mask,
)